<ion-header>

  <ion-navbar>
    <ion-title>{{ 'Search'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-searchbar (ionInput)="getItems($event)" [(ngModel)]='searchbar' placeholder="{{ 'Search'  }}"></ion-searchbar>
  <ion-card class="card card-ios">

    <ion-card-content>
          <ion-segment>
       <ion-segment-button [class.active]="isOpenActive" (click)="opensearch($event)" class="open">
         <span>
         <ion-icon color="gfi_orange" name="ios-folder-open" item-start class="open"></ion-icon>
         <span>OPEN</span>
       </span>
       </ion-segment-button>

       <ion-segment-button [class.active]="isWinActive" (click)="winsearch($event)" class='win '>
         <span>
         <ion-icon color="secondary" name="ios-folder-open" item-start class="win"></ion-icon>
         <span>WIN</span>
       </span>
       </ion-segment-button>

       <ion-segment-button [class.active]="isLostActive" (click)="lostsearch($event)" class='lost ' >
         <span>
           <ion-icon color="danger" name="ios-folder-open" item-start class="lost"></ion-icon>
         <span>LOST</span>
       </span>
       </ion-segment-button>
     </ion-segment>
     <ion-segment  color='primary' class="tri-attributs">
  <ion-segment-button [class.active]="isTitleActive" (click)="titlesearch($event)" class="title">Title</ion-segment-button>
  <ion-segment-button [class.active]="isDateActive" (click)="datesearch($event)" class="date" ><span>Date</span></ion-segment-button>
  <ion-segment-button [class.active]="isClientActive"(click)="clientsearch($event)" class="client">Client</ion-segment-button>
</ion-segment>
    </ion-card-content>
  </ion-card>
  <ion-list>
      <ion-item-sliding *ngFor="let item of currentItems">
    <button ion-item (click)="openItem(item)" >
      <ion-avatar item-start>
        <span class='item-start win' *ngIf=" item.status == 'win'" item-start fixed>
          <ion-icon  color="secondary" name="ios-folder-open" ></ion-icon><br>
          <span>WIN</span>
        </span>

        <span class='item-start open' *ngIf=" item.status == 'open'" item-start fixed>
          <ion-icon  color="gfi_orange" name="ios-folder-open" ></ion-icon><br>
          <span>OPEN</span>
        </span>
        <span class='item-start lost' *ngIf=" item.status == 'lost'" item-start fixed>
          <ion-icon  color="danger" name="ios-folder-open" ></ion-icon><br>
          <span>LOST</span>
        </span>
      </ion-avatar>
      <h2>{{item.title}}</h2>
      <p>{{item.client}}</p>
      <ion-avatar item-end>
        <span>
        {{item.date}}
        </span>
      </ion-avatar>
    </button>
    <ion-item-options>
      <button ion-button color="danger" (click)="deleteItem(item)">
        {{ 'DELETE_BUTTON' | translate }}
      </button>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>
</ion-content>
