<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-card class="card card-ios">

    <ion-card-content>
          <ion-segment>
       <ion-segment-button class="win active">
         <ion-icon color="yellow" name="ios-folder-open" item-start ></ion-icon>
       </ion-segment-button>

       <ion-segment-button class='open '>
         <ion-icon color="secondary" name="ios-folder-open" item-start class="open"></ion-icon>
       </ion-segment-button>

       <ion-segment-button class='lost ' >
         <ion-icon color="danger" name="ios-folder-open" item-start class="lost"></ion-icon>
       </ion-segment-button>
     </ion-segment>
     <ion-segment  color='primary' class="tri-attributs">
  <ion-segment-button >Title</ion-segment-button>
  <ion-segment-button class="active" ><span>Date</span><ion-icon color="white" name="md-arrow-dropdown"  ></ion-icon></ion-segment-button>
  <ion-segment-button>Company</ion-segment-button>
</ion-segment>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <ion-icon color="secondary" *ngIf=" item.statut == 'win'" name="ios-folder-open" item-start></ion-icon>
        <ion-icon color="yellow" *ngIf=" item.statut == 'open'" name="ios-folder-open" item-start></ion-icon>
        <ion-icon color="danger" *ngIf=" item.statut == 'lost'" name="ios-folder-open" item-start></ion-icon>
      </ion-avatar>
      <h2>{{item.titre}}</h2>
      <p>{{item.entrepriseCliente}}</p>
      <ion-avatar item-end>
        <span>
        {{item.dateDemande}}
        </span>
      </ion-avatar>
    </button>
  </ion-list>
</ion-content>
