<ion-header>

  <ion-navbar>
    <ion-title>{{ 'Search'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'Search'  }}"></ion-searchbar>
  <ion-card class="card card-ios">

    <ion-card-content>
          <ion-segment>
       <ion-segment-button class="open active">
         <span>
         <ion-icon color="gfi_orange" name="ios-folder-open" item-start class="open"></ion-icon>
         <span>OPEN</span>
       </span>
       </ion-segment-button>

       <ion-segment-button class='win '>
         <span>
         <ion-icon color="secondary" name="ios-folder-open" item-start class="win"></ion-icon>
         <span>WIN</span>
       </span>
       </ion-segment-button>

       <ion-segment-button class='lost ' >
         <span>
           <ion-icon color="danger" name="ios-folder-open" item-start class="lost"></ion-icon>
         <span>LOST</span>
       </span>
       </ion-segment-button>
     </ion-segment>
     <ion-segment  color='primary' class="tri-attributs">
  <ion-segment-button >Title</ion-segment-button>
  <ion-segment-button class="active" ><span>Date</span><ion-icon color="white" name="md-arrow-dropdown"  ></ion-icon></ion-segment-button>
  <ion-segment-button>Client</ion-segment-button>
</ion-segment>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <span class='item-start win' *ngIf=" item.status == 'win'" item-start fixed>
          <ion-icon  color="secondary" name="ios-folder-open" ></ion-icon><br>
          <span>WIN</span>
        </span>

        <span class='item-start open' *ngIf=" item.status == 'open'" item-start fixed>
          <ion-icon  color="gfi_orange" name="ios-folder-open" ></ion-icon><br>
          <span>OPEN</span>
        </span>
        <span class='item-start lost' *ngIf=" item.status == 'lost'" item-start fixed>
          <ion-icon  color="danger" name="ios-folder-open" ></ion-icon><br>
          <span>LOST</span>
        </span>
      </ion-avatar>
      <h2>{{item.title}}</h2>
      <p>{{item.client}}</p>
      <ion-avatar item-end>
        <span>
        {{item.date}}
        </span>
      </ion-avatar>
    </button>
  </ion-list>
</ion-content>
