page-search {
  ion-navbar{
    background: #263145 !important;
    color: blue !important;
  }
  .toolbar-background{
    background:  #263145 !important;
  }
  .toolbar-title{
    color: #F57100;
  }
  ion-avatar{
    text-align: center;
  }
  .item-start{
    text-align: center;
    margin: 0!important;

  }
  .item-start span{
      font-size: 12px;
    }

    .item-start.win span{
      color: #32db64;
    }
    .item-start.open span{
      color: #F57100;
    }
    .item-start.lost span{
      color: #f53d3d;
    }
  .win span{
    color: #32db64 !important;
  }

  .open span{
    color: #F57100 !important;
  }
  .lost span{
    color: #f53d3d !important;
  }
  .open.active{
    background: #F57100;
    ion-icon{
      color: white;

    }
    span{
      color: white !important;
    }
  }

  .win.active{
    background: #32db64;
    ion-icon{
      color: white;

    }
    span{
      color: white !important;
    }
  }
  .lost.active{
    background: #f53d3d;
    ion-icon{
      color: white;

    }
    span{
      color: white !important;
    }
  }
  .title.active{
    color: white;
    background: #263145;
  }
  .date.active{
    color: white;
    background: #263145;
  }
  .client.active{
    color: white;
    background: #263145;
  }
  .tri-attributs{
    padding-top: 10px;
  }
    .tri-attributs ion-icon{
      vertical-align: middle;
      padding-left: 4px;
    }
    .tri-attributs .segment-button.active{
    background: #263145;
    color: white;
  }
}
