<ion-header>

  <ion-navbar>
    <ion-title>{{ 'Home'  }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add" color="gfi_orange"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">

          <ion-icon color="secondary" *ngIf=" item.statut == 'win'" name="ios-folder-open" item-start></ion-icon>
          <ion-icon color="yellow" *ngIf=" item.statut == 'open'" name="ios-folder-open" item-start></ion-icon>
          <ion-icon color="danger" *ngIf=" item.statut == 'lost'" name="ios-folder-open" item-start></ion-icon>
        <h2 >{{item.titre}}
        </h2>
        <p>{{item.entrepriseCliente}}</p>
        <ion-avatar item-end>
          <span>
          {{item.dateDemande}}
          </span>
        </ion-avatar>


      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
