page-list-master {
  ion-navbar{
    background: #263145 !important;
    color: blue !important;
  }
  .toolbar-background{
    background:  #263145 !important;
  }
  .toolbar-title{
    color: #F57100;
  }
  .item-start{
    text-align: center;

  }
  .item-start span{
      font-size: 12px;
    }

    .item-start.win span{
      color: #32db64;
    }
    .item-start.open span{
      color: #F57100;
    }
    .item-start.lost span{
      color: #f53d3d;
    }
}
