<ion-header>

  <ion-navbar>
    <ion-title>{{ 'Home'  }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add" color="gfi_orange"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">

          <span class='item-start win' *ngIf=" item.status == 'win'" item-start fixed>
            <ion-icon  color="secondary" name="ios-folder-open" ></ion-icon><br>
            <span>WIN</span>
          </span>

          <span class='item-start open' *ngIf=" item.status == 'open'" item-start fixed>
            <ion-icon  color="gfi_orange" name="ios-folder-open" ></ion-icon><br>
            <span>OPEN</span>
          </span>
          <span class='item-start lost' *ngIf=" item.status == 'lost'" item-start fixed>
            <ion-icon  color="danger" name="ios-folder-open" ></ion-icon><br>
            <span>LOST</span>
          </span>
        <h2 >{{item.title}}
        </h2>
        <p>{{item.client}}</p>
        <ion-avatar item-end>
          <span>
          {{item.date}}
          </span>
        </ion-avatar>


      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
