page-list-master {
  ion-navbar{
    background: #263145 !important;
    color: blue !important;
  }
  .toolbar-background{
    background:  #263145 !important;
  }
  .toolbar-title{
    color: #F57100;
  }
}
